@import "tailwindcss";

/* Kelas untuk efek siluet dengan drop-shadow agar bentuknya tetap terlihat */
.silhouette {
  filter: brightness(0) drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  -webkit-filter: brightness(0) drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.pokedex-card {
    background-color: #374151; /* bg-gray-700 */
    padding: 0.75rem; /* p-3 */
    border-radius: 0.5rem; /* rounded-lg */
    text-align: center; /* text-center */
    transition-property: transform, background-color; /* transition-transform */
    transition-duration: 200ms; /* duration-200 */
}

.pokedex-card:hover {
    transform: scale(1.05); /* hover:scale-105 */
    background-color: #4b5563; /* hover:bg-gray-600 */
}